<div id={{divid}} class={{divclass}}>
  <form>
      <input class="new" type="button" value="new"/>
      <input class="save" type="button" value="save"/>
      <input class="delete" type="button" value="delete"/><br/>
      
      Title:<input name="title" type="text" value="{{title}}"/><br/>
      Tags:<input name = "tags" type="text" value="{{tags}}"/><br/>
      Rating (0-10):<input name="rating" type="text" value="{{rating}}"/><br/>
      Link:<input name="link" type="text" value="{{link}}"/><br/>
      Last Contact:<input name="lastContact" type="text" value="{{lastContact}}"/><br/>
      Email:<input name="email" type="text" value="{{email}}"/><br/>
      Company:<input name="company" type="text" value="{{company}}"/><br/>
      Company Link:<input name="companyLink" type="text" value="{{companyLink}}"/><br/>

      Notes:<textarea name="description" rows="10" cols="40">{{description}}</textarea>
  </form>
</div>