<div id={{divid}} class={{divclass}}>
  <form>
      <input class="new" type="button" value="new"/>
      <input class="save" type="button" value="save"/>
      <input class="delete" type="button" value="delete"/>
      Title:<input name="title" type="text" value="{{title}}"/><br/>
      Tags:<input name = "tags" type="text" value="{{tags}}"/><br/>
      Author:<input name="author" type="text" value="{{author}}"/><br/>
      Body:<textarea name="body" rows="4" cols="50">
	{{body}}
      </textarea>
      <br/>Replies To:<input name = "repliesTo" type="text" value="{{repliesTo}}"/><br/>  
  </form>
</div>
