<div id={{divid}} class={{divclass}}>
  <p>Title:{{title}}</p>
  <p>Tags:{{tags}}</p>
  <p>Rating(0-10):{{rating}}</p>  
  <p>Link:{{link}}</p>
  <p>Last Contact:{{lastContact}}</p>
  <p>Email:{{email}}</p>
  <p>Company:{{company}}</p>
  <p>Company Link:{{companyLink}}</p>
  
  <p>Description:{{description}}</p>
</div>
